.card-header
{
    display: flex;
}

.card-header img
{
    border-radius: 50%;
    width: 36px;
}

.card-title
{
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}
