/* === Site Layout === */
/* --- Static --- */
.center {
    text-align: center;
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.approval {
    overflow: scroll;
    height: 60vh;
}

.line-height-1em {
    line-height: 1em;
}

.btn-rainbow {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#00c0ff),
        color-stop(49%, #ffcf00),
        color-stop(80%, #fc4f4f),
        to(#00c0ff)
    );
    background-image: -webkit-linear-gradient(
        left,
        #00c0ff 0%,
        #ffcf00 49%,
        #fc4f4f 80%,
        #00c0ff 100%
    );
    background-image: -o-linear-gradient(left, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
    background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
    color: #fff;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    -webkit-animation: slidebg 2s linear infinite;
    animation: slidebg 2s linear infinite;
}

.btn-rainbow:hover {
    color: #fff;
}

/* Footer Keep Bottom */
.body-content {
    position: relative;
    min-height: calc(100% - 278px);
}

/* Popup Message */
.alertify-log .popup {
    cursor: pointer;
}

.padding-left-5 {
    padding-left: 5px;
}

.margin-left-20 {
    margin-left: 20px;
}

.popover-content {
    z-index: 99999 !important;
}

.z-index-high {
    z-index: 9999 !important;
}

.z-index-low {
    z-index: 100 !important;
}

/* --- Header ---*/
.header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.header-title {
    position: relative;
    flex: 1;
}

.site-logo {
    margin-top: 0;
    margin-right: 20px;
    padding-top: 3px;
    float: left;
    white-space: nowrap;
}

.site-logo .brand {
    color: #141414;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.search-bar {
    position: absolute;
    right: 20px;
    top: 15px;
}

.search-bar a + a {
    margin-left: 20px;
}

.search-bar a i {
    margin-right: 3px;
}

@media (max-width: 577.9px) {
    .search-bar {
        top: 5px;
    }
    .search-bar a {
        display: block;
        text-align: right;
        line-height: 1.5;
        font-size: 14px;
    }
}
@media (max-width: 479.9px) {
    .header-title .hamburger {
        width: 24px;
    }
    .site-logo a.brand {
        font-size: 20px;
    }
    .search-bar {
        right: 5px;
    }

    .search-bar a + a {
        margin-left: 0;
    }

    .header-info {
        margin-right: -15px;
    }
}

.btn_search {
    background: none;
    border: none;
    width: 10%;
}

.btn_search i {
    color: #ff98aa;
}

.header-info {
}

.icon-search {
    display: inline-block;
    margin-left: 5px;
    padding: 6px 8px;
    background: #ff4b68;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 12px -5px #262626;
    box-shadow: 0 0 12px -5px #262626;
    color: #fff;
    cursor: pointer;
    line-height: normal;
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
    opacity: 0.6;
}

.icon-search:hover {
    opacity: 1;
    -webkit-box-shadow: 0 0 12px -5px #000;
    box-shadow: 0 0 12px -5px #000;
}

.icon-search::after {
    content: '搜尋';
}

.header-user-img {
    text-align: center;
    float: left;
    min-width: 78px;
}

.header-user-img .btn.header-avatar-btn {
    border: none;
}

.header-user-img .btn.header-avatar-btn:hover,
.header-user-img .btn.header-avatar-btn:active,
.header-user-img.open .btn.header-avatar-btn {
    background-color: transparent;
    box-shadow: none;
}

.header-user-img .btn.header-avatar-btn:hover img,
.header-user-img.open .btn.header-avatar-btn img {
    border: 2px solid #ff98aa;
}

.header-user-img .btn.header-avatar-btn:hover img,
.open .btn.header-avatar-btn img {
    transform: scale(1.2);
}

.header-user-img .dropdown-menu {
    min-width: 114px;
}

.header-user-img .dropdown-menu li a {
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.header-user-img .dropdown-menu li a:hover {
    background-color: #ff98aa;
    color: #fff;
}

.header-user-img span {
    padding: 0 5px;
}

.navbar-custom ul.nav li a:hover {
    color: #5dc0de;
}

.navbar-custom ul.nav ul.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.navbar-custom ul.nav ul.dropdown:hover .dropdown-menu {
    display: block;
}

.search-wrapper {
    padding: 0px;
    margin: 0;
    z-index: 9998;
    line-height: normal;
    background: #999c;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: calc(100% - 81px);
    transition: bottom 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.search-wrapper.scroll-top {
    bottom: 0;
}

.search-close {
    position: absolute;
    right: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.8;
}

.search-close:hover {
    opacity: 1;
}

.search-content {
    position: relative;
    width: 350px;
    margin: 50px auto;
}

.input-search-icon {
    position: absolute;
    top: 3px;
    left: 8px;
}

.input-search {
    width: 10%;
    max-width: 90vw;
    height: 34px;
    padding: 6px 58px 6px 28px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s,
        width ease 1s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, width ease 1s;
    -webkit-transition: border-color ease-in-out 0.15s, width ease 1s,
        -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, width ease 1s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, width ease 1s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, width ease 1s,
        -webkit-box-shadow ease-in-out 0.15s;
    z-index: 0;
}

.input-search:focus {
    width: 100%;
}

.input-search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-load {
    top: 10%;
    height: 80%;
    display: flex;
    align-items: center;
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
            -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
            -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
            -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
            -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.animateion-before,
.animateion-after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
}

.animateion-after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: -93px -298.6666666667px #5900ff, 47px 58.3333333333px #00ff1e,
            137px -327.6666666667px #ff00a2, 73px -4.6666666667px #ff2600,
            2px -360.6666666667px #e1ff00, 208px -224.6666666667px #ff0037,
            -115px -367.6666666667px #00ffc4, -235px 21.3333333333px #2b00ff,
            -25px 53.3333333333px #ea00ff, 191px -339.6666666667px #008cff,
            234px -288.6666666667px #ff0015, -98px -386.6666666667px #0004ff,
            5px 3.3333333333px #6a00ff, -49px -50.6666666667px #ff2600, 79px 53.3333333333px #0d00ff,
            -235px -241.6666666667px blue, -244px -377.6666666667px #00c8ff,
            -68px 38.3333333333px blue, 194px -1.6666666667px #fffb00,
            -26px -89.6666666667px #0077ff, -93px -140.6666666667px #00aaff,
            96px -161.6666666667px #00e1ff, -91px -372.6666666667px #ee00ff,
            200px 72.3333333333px #00ffc4, -231px -403.6666666667px #00f7ff,
            133px -196.6666666667px #ff5900, 85px 7.3333333333px #e600ff,
            244px 82.3333333333px #00ff44, -174px -88.6666666667px #d9ff00,
            109px -86.6666666667px #ffcc00, -73px -234.6666666667px #ff9100,
            -108px -98.6666666667px #ff0051, 114px -331.6666666667px #00ff66,
            -201px -49.6666666667px #ffd000, -119px -339.6666666667px #ff003c,
            -12px -27.6666666667px #91ff00, -88px -9.6666666667px #00ff26,
            78px -344.6666666667px #aa00ff, 78px -106.6666666667px #ae00ff,
            -136px 26.3333333333px #f2ff00, -190px -383.6666666667px #ff0011,
            20px -19.6666666667px #00f2ff, -200px -78.6666666667px #00ffea,
            -125px -381.6666666667px #b700ff, -45px -409.6666666667px #ff00ea,
            -231px 61.3333333333px #ff00bf, 180px 73.3333333333px #4d00ff,
            -30px -307.6666666667px #ff00b7, -122px -339.6666666667px #ffd500,
            -135px -411.6666666667px #00ff4d, 118px -63.6666666667px #80ff00;
    }
}
@-moz-keyframes bang {
    to {
        box-shadow: -93px -298.6666666667px #5900ff, 47px 58.3333333333px #00ff1e,
            137px -327.6666666667px #ff00a2, 73px -4.6666666667px #ff2600,
            2px -360.6666666667px #e1ff00, 208px -224.6666666667px #ff0037,
            -115px -367.6666666667px #00ffc4, -235px 21.3333333333px #2b00ff,
            -25px 53.3333333333px #ea00ff, 191px -339.6666666667px #008cff,
            234px -288.6666666667px #ff0015, -98px -386.6666666667px #0004ff,
            5px 3.3333333333px #6a00ff, -49px -50.6666666667px #ff2600, 79px 53.3333333333px #0d00ff,
            -235px -241.6666666667px blue, -244px -377.6666666667px #00c8ff,
            -68px 38.3333333333px blue, 194px -1.6666666667px #fffb00,
            -26px -89.6666666667px #0077ff, -93px -140.6666666667px #00aaff,
            96px -161.6666666667px #00e1ff, -91px -372.6666666667px #ee00ff,
            200px 72.3333333333px #00ffc4, -231px -403.6666666667px #00f7ff,
            133px -196.6666666667px #ff5900, 85px 7.3333333333px #e600ff,
            244px 82.3333333333px #00ff44, -174px -88.6666666667px #d9ff00,
            109px -86.6666666667px #ffcc00, -73px -234.6666666667px #ff9100,
            -108px -98.6666666667px #ff0051, 114px -331.6666666667px #00ff66,
            -201px -49.6666666667px #ffd000, -119px -339.6666666667px #ff003c,
            -12px -27.6666666667px #91ff00, -88px -9.6666666667px #00ff26,
            78px -344.6666666667px #aa00ff, 78px -106.6666666667px #ae00ff,
            -136px 26.3333333333px #f2ff00, -190px -383.6666666667px #ff0011,
            20px -19.6666666667px #00f2ff, -200px -78.6666666667px #00ffea,
            -125px -381.6666666667px #b700ff, -45px -409.6666666667px #ff00ea,
            -231px 61.3333333333px #ff00bf, 180px 73.3333333333px #4d00ff,
            -30px -307.6666666667px #ff00b7, -122px -339.6666666667px #ffd500,
            -135px -411.6666666667px #00ff4d, 118px -63.6666666667px #80ff00;
    }
}
@-o-keyframes bang {
    to {
        box-shadow: -93px -298.6666666667px #5900ff, 47px 58.3333333333px #00ff1e,
            137px -327.6666666667px #ff00a2, 73px -4.6666666667px #ff2600,
            2px -360.6666666667px #e1ff00, 208px -224.6666666667px #ff0037,
            -115px -367.6666666667px #00ffc4, -235px 21.3333333333px #2b00ff,
            -25px 53.3333333333px #ea00ff, 191px -339.6666666667px #008cff,
            234px -288.6666666667px #ff0015, -98px -386.6666666667px #0004ff,
            5px 3.3333333333px #6a00ff, -49px -50.6666666667px #ff2600, 79px 53.3333333333px #0d00ff,
            -235px -241.6666666667px blue, -244px -377.6666666667px #00c8ff,
            -68px 38.3333333333px blue, 194px -1.6666666667px #fffb00,
            -26px -89.6666666667px #0077ff, -93px -140.6666666667px #00aaff,
            96px -161.6666666667px #00e1ff, -91px -372.6666666667px #ee00ff,
            200px 72.3333333333px #00ffc4, -231px -403.6666666667px #00f7ff,
            133px -196.6666666667px #ff5900, 85px 7.3333333333px #e600ff,
            244px 82.3333333333px #00ff44, -174px -88.6666666667px #d9ff00,
            109px -86.6666666667px #ffcc00, -73px -234.6666666667px #ff9100,
            -108px -98.6666666667px #ff0051, 114px -331.6666666667px #00ff66,
            -201px -49.6666666667px #ffd000, -119px -339.6666666667px #ff003c,
            -12px -27.6666666667px #91ff00, -88px -9.6666666667px #00ff26,
            78px -344.6666666667px #aa00ff, 78px -106.6666666667px #ae00ff,
            -136px 26.3333333333px #f2ff00, -190px -383.6666666667px #ff0011,
            20px -19.6666666667px #00f2ff, -200px -78.6666666667px #00ffea,
            -125px -381.6666666667px #b700ff, -45px -409.6666666667px #ff00ea,
            -231px 61.3333333333px #ff00bf, 180px 73.3333333333px #4d00ff,
            -30px -307.6666666667px #ff00b7, -122px -339.6666666667px #ffd500,
            -135px -411.6666666667px #00ff4d, 118px -63.6666666667px #80ff00;
    }
}
@-ms-keyframes bang {
    to {
        box-shadow: -93px -298.6666666667px #5900ff, 47px 58.3333333333px #00ff1e,
            137px -327.6666666667px #ff00a2, 73px -4.6666666667px #ff2600,
            2px -360.6666666667px #e1ff00, 208px -224.6666666667px #ff0037,
            -115px -367.6666666667px #00ffc4, -235px 21.3333333333px #2b00ff,
            -25px 53.3333333333px #ea00ff, 191px -339.6666666667px #008cff,
            234px -288.6666666667px #ff0015, -98px -386.6666666667px #0004ff,
            5px 3.3333333333px #6a00ff, -49px -50.6666666667px #ff2600, 79px 53.3333333333px #0d00ff,
            -235px -241.6666666667px blue, -244px -377.6666666667px #00c8ff,
            -68px 38.3333333333px blue, 194px -1.6666666667px #fffb00,
            -26px -89.6666666667px #0077ff, -93px -140.6666666667px #00aaff,
            96px -161.6666666667px #00e1ff, -91px -372.6666666667px #ee00ff,
            200px 72.3333333333px #00ffc4, -231px -403.6666666667px #00f7ff,
            133px -196.6666666667px #ff5900, 85px 7.3333333333px #e600ff,
            244px 82.3333333333px #00ff44, -174px -88.6666666667px #d9ff00,
            109px -86.6666666667px #ffcc00, -73px -234.6666666667px #ff9100,
            -108px -98.6666666667px #ff0051, 114px -331.6666666667px #00ff66,
            -201px -49.6666666667px #ffd000, -119px -339.6666666667px #ff003c,
            -12px -27.6666666667px #91ff00, -88px -9.6666666667px #00ff26,
            78px -344.6666666667px #aa00ff, 78px -106.6666666667px #ae00ff,
            -136px 26.3333333333px #f2ff00, -190px -383.6666666667px #ff0011,
            20px -19.6666666667px #00f2ff, -200px -78.6666666667px #00ffea,
            -125px -381.6666666667px #b700ff, -45px -409.6666666667px #ff00ea,
            -231px 61.3333333333px #ff00bf, 180px 73.3333333333px #4d00ff,
            -30px -307.6666666667px #ff00b7, -122px -339.6666666667px #ffd500,
            -135px -411.6666666667px #00ff4d, 118px -63.6666666667px #80ff00;
    }
}
@keyframes bang {
    to {
        box-shadow: -93px -298.6666666667px #5900ff, 47px 58.3333333333px #00ff1e,
            137px -327.6666666667px #ff00a2, 73px -4.6666666667px #ff2600,
            2px -360.6666666667px #e1ff00, 208px -224.6666666667px #ff0037,
            -115px -367.6666666667px #00ffc4, -235px 21.3333333333px #2b00ff,
            -25px 53.3333333333px #ea00ff, 191px -339.6666666667px #008cff,
            234px -288.6666666667px #ff0015, -98px -386.6666666667px #0004ff,
            5px 3.3333333333px #6a00ff, -49px -50.6666666667px #ff2600, 79px 53.3333333333px #0d00ff,
            -235px -241.6666666667px blue, -244px -377.6666666667px #00c8ff,
            -68px 38.3333333333px blue, 194px -1.6666666667px #fffb00,
            -26px -89.6666666667px #0077ff, -93px -140.6666666667px #00aaff,
            96px -161.6666666667px #00e1ff, -91px -372.6666666667px #ee00ff,
            200px 72.3333333333px #00ffc4, -231px -403.6666666667px #00f7ff,
            133px -196.6666666667px #ff5900, 85px 7.3333333333px #e600ff,
            244px 82.3333333333px #00ff44, -174px -88.6666666667px #d9ff00,
            109px -86.6666666667px #ffcc00, -73px -234.6666666667px #ff9100,
            -108px -98.6666666667px #ff0051, 114px -331.6666666667px #00ff66,
            -201px -49.6666666667px #ffd000, -119px -339.6666666667px #ff003c,
            -12px -27.6666666667px #91ff00, -88px -9.6666666667px #00ff26,
            78px -344.6666666667px #aa00ff, 78px -106.6666666667px #ae00ff,
            -136px 26.3333333333px #f2ff00, -190px -383.6666666667px #ff0011,
            20px -19.6666666667px #00f2ff, -200px -78.6666666667px #00ffea,
            -125px -381.6666666667px #b700ff, -45px -409.6666666667px #ff00ea,
            -231px 61.3333333333px #ff00bf, 180px 73.3333333333px #4d00ff,
            -30px -307.6666666667px #ff00b7, -122px -339.6666666667px #ffd500,
            -135px -411.6666666667px #00ff4d, 118px -63.6666666667px #80ff00;
    }
}
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-webkit-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-moz-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-o-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-ms-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

.search-result {
    top: 10%;
    height: 80%;
    padding: 15px 15px 0;
    overflow-y: auto;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 12px -5px #000;
    box-shadow: 0 0 12px -5px #000;
}

.search-result::-webkit-scrollbar {
    width: 8px;
}

.search-result::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.search-result::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    outline: 1px solid slategrey;
}

.search-result.transparent {
    opacity: 0;
}

.search-result .item-none {
    margin: 0 auto;
    padding: 15px;
    background: #ff4b6855;
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 12px -5px #0004;
    box-shadow: 3px 3px 12px -5px #0004;
    color: #262626;
    text-align: center;
}

.search-result .thumbnail {
    margin-bottom: 15px;
    -webkit-box-shadow: 3px 3px 12px -5px #0004;
    box-shadow: 3px 3px 12px -5px #0004;
}

.search-result .thumbnail:hover {
    -webkit-box-shadow: 3px 3px 16px -5px #000c;
    box-shadow: 3px 3px 16px -5px #000c;
}

.search-result .figure {
    position: relative;
}

.search-result .img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 180px;
    overflow: hidden;
}

.search-result .img-wrapper img {
    width: 100%;
}

.search-result .avatar-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    padding: 3px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 12px -5px #000;
    box-shadow: 0 0 12px -5px #000;
    overflow: hidden;
}

.search-result .avatar-wrapper .avatar {
    border-radius: 50%;
    cursor: pointer;
}

.search-result .avatar-wrapper .avatar:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.search-result .caption {
    padding: 9px;
    overflow: hidden;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-result .caption .price {
    margin: 10px 0;
    color: #ff4b68;
}

.search-result .lesson-type-label {
    position: absolute;
    z-index: 10;
}

.search-result .lesson-type {
    padding: 0 10px;
    -webkit-box-shadow: 3px 5px 10px -5px #0009;
    box-shadow: 3px 5px 10px -5px #0009;
    color: #fff;
    line-height: normal;
    font-size: 2rem;
    font-weight: 600;
}

.caption .no-discount {
    text-decoration: line-through;
    font-size: 14px;
}

.bg-entity {
    background: #ead24c;
}

.lesson-type.bg-entity::before {
    content: '實體';
}

.bg-online {
    background: #5dc0de;
}

.lesson-type.bg-online::before {
    content: '線上';
}

.search-result .bg-prepare {
    background: #619bb2;
}

.bg-no-vacancy {
    background: #d9534f;
}

.search-result .lesson-start {
    background: #5cb85c;
}

/* Shopping Cart */
.cart-icon {
    line-height: inherit;
    position: relative;
    float: left;
    height: inherit;
}

.cart-icon i {
    display: block;
    width: 100%;
    height: inherit;
    cursor: pointer;
}

.cart-icon:hover i {
    background: #fff;
    color: #ff98aa;
}

.cart-num-area {
    position: absolute;
    top: -19px;
    right: -14px;
}

.cart-num {
    background: #ff0000;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    width: 15px;
    text-align: center;
    padding: 0 6px;
    height: 15px;
}

.cart-sub {
    padding: 10px;
    display: none;
    position: absolute;
    right: -20px;
    width: 300px;
    height: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.cart-sub:hover,
.cart-icon:hover .cart-sub {
    display: block;
    height: 360px;
}

.cart-lesson-area {
    height: 260px;
    overflow-y: scroll;
    z-index: 50;
}

.cart-lesson-area a {
    color: #ccc;
}

.cart-lesson-area a:hover {
    color: #ff98aa;
}

.cart-lesson {
    height: 80px;
    margin-bottom: 10px;
}

.cart-lesson:hover {
    background-color: #eee;
}

.cart-lesson img {
    height: inherit;
}

.cart-header {
    padding: 0;
    height: inherit;
    overflow: hidden;
}

.cart-name {
    line-height: normal;
    margin-top: 0;
}

.cart-value {
    line-height: normal;
    bottom: 0;
}

.cart-checkout,
.icon,
.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* --- Sidebar --- */
#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

li .personal-pic {
    margin: 5px 10px 0 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

li .personal-pic img {
    width: auto;
    height: 100%;
}

li .personal-name {
    color: #141414;
    text-align: center;
    word-break: break-all;
    line-height: normal;
    flex: 1;
    text-align: left;
    padding: 0px 0 5px 14px;
}

li .personal-name.personal-name-visitor {
    padding-top: 15px;
}

li .personal-name a {
    color: #141414;
    padding: 0;
}

li .personal-name a:hover {
    color: #141414;
    padding: 0;
}

li .personal-name .spn-checkProfile {
    color: #999;
    font-size: 15px;
    display: block;
}

/* --- Footer --- */
.footer-menu-block,
.footer-menu-block a,
.footer-menu-block h2 {
    color: #fff;
}

.footer-menu-block li {
    line-height: 2.5rem;
}

.footer-menu-block i {
    font-size: 24px;
}

.menu-title h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.footer-menu-des {
    text-align: justify;
}

.fa-youtube-play::before {
    margin-left: 10px;
    font-size: 25px;
}

.qrcode {
    height: 100px;
    weight: 100px;
}

/* --- Modal --- */
.mymodal {
    margin-top: 8vh;
    overflow: hidden;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 99999;
}

.logo img {
    width: 50px;
    margin-left: 10px;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}

.logo img:hover {
    width: 50px;
    margin-left: 10px;
    box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;
    background: #fff;
    border: none;
}

.btn-member {
    height: 45px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
}

.login__icon {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    position: fixed;
    z-index: 1;
}

.oAuth {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45px;
    background-repeat: no-repeat;
    border-radius: 5px;
    opacity: 0.8;
}

.oAuth-google {
    background-image: url(../../../../img/logo/google_oauth.png);
}

.oAuth-google:hover {
    opacity: 1;
}

.a_become_teacher {
    cursor: pointer;
}

#twcaseal {
    text-align: right !important;
}

#twcad2 {
    top: auto !important;
    bottom: 0 !important;
}

.MINI #twcad3 {
    left: auto !important;
    right: 0;
}

@media (min-width: 992px) {
    .sticky-wrapper {
        height: 81px !important;
    }
}

@media (max-width: 991px) {
    .sticky-wrapper {
        height: 137px !important;
    }

    .search-wrapper {
        height: calc(100% - 137px);
    }
}

@media (max-width: 767.9px) {
    .cart-sub {
        display: none !important;
    }

    .mymodal {
        padding: 0;
        overflow: auto;
    }

    .mymodal-mob {
        margin: 0;
    }

    .sticky-wrapper {
        height: 125px !important;
    }

    .search-wrapper {
        height: calc(100% - 125px);
    }
}

@media (min-width: 480px) {
    .header-info {
    }
}

@media (max-width: 479.9px) {
    .body-content {
        min-height: calc(100% - 265px);
    }

    .header-user-img {
        display: none;
    }

    .icon-search {
        padding: 2px 8px;
    }

    .icon-search::after {
        content: unset;
    }

    .footer-menu li,
    .footer-menu-block li {
        font-size: 12px;
        line-height: 36px;
    }

    ul.footer-menu li a {
        font-size: 12px;
    }

    .copyright {
        line-height: normal;
    }

    .search-result {
        height: 87%;
        width: 90%;
        left: 5%;
    }

    .search-result-card {
        padding: 0px;
    }

    .location {
        font-size: 1.8rem;
    }
}

@media (max-width: 360px) {
    .hamburger {
        margin-right: 10px;
    }

    .icon-search {
        padding: 0 5px;
        position: absolute;
        top: 20px;
        margin-left: 4px;
    }
}

@-webkit-keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}
