.wrapper {
  width: 1140px;
  margin: auto;
}
@media (max-width: 1199.9px) {
  .wrapper {
    width: 940px;
  }
}
@media (max-width: 991.9px) {
  .wrapper {
    width: 720px;
  }
}
@media (max-width: 767.9px) {
  .wrapper {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}

#funcBar {
  text-align: right;
  padding-bottom: 10px;
}

#averageBlock {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-in-out;
  line-height: 1.5;
}
#averageBlock.unfold {
  max-height: 500px;
  margin-bottom: 40px;
}
#averageBlock #averagePresenceChart {
  width: 400px;
  height: 200px;
}
#averageBlock #averagePresenceInfo {
  margin-left: 40px;
  font-size: 24px;
}
#averageBlock #averagePresenceInfo p {
  margin-bottom: 0;
  line-height: 2;
}
@media screen and (max-width: 991.9px) {
  #averageBlock #averagePresenceChart {
    width: 300px;
    height: 150px;
  }
}
@media screen and (max-width: 767.9px) {
  #averageBlock #averagePresenceChart {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  #averageBlock #averagePresenceInfo {
    margin-left: 0;
  }
}

/* --------------------- */
/*     Presence Card     */
/* --------------------- */
.presenceCard .lds-roller div:after {
  background-color: #5dc0de;
}

.presenceCard__noData {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.presenceCard__card {
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 5px 5px #ccc;
  line-height: 1.5;
  background-color: #fff;
  margin-bottom: 30px;
  text-align: center;
  color: #666;
}
@media (max-width: 767.9px) {
  .presenceCard__card {
    width: auto;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
  }
}

.aLessonName {
  text-decoration: underline;
  color: #666;
}
.aLessonName:hover, .aLessonName:active {
  color: #999999;
  text-decoration: underline;
}

.presenceCard__card__lessonName {
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

.presenceCard__card__lessonId {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 20px;
  padding-right: 10px;
  padding-top: 5px;
  color: #5dc0de;
}
.presenceCard__card__lessonId::before {
  content: '#';
}

.presenceCard__card__lessonArea {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  top: -30px;
}

.presenceCard__card__teacher {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.presenceCard__card__time {
  font-size: 16px;
}

.presenceCard__card__presenceRate {
  position: relative;
  margin-top: 10px;
  height: 110px;
  font-size: 60px;
  color: #5dc0de;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
.presenceCard__card__presenceRate .pPresenceRate {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0;
}
.presenceCard__card__presenceRate .spnInt {
  font-size: 1em;
  line-height: 1;
}
.presenceCard__card__presenceRate .spnDeci {
  font-size: 0.5em;
}
.presenceCard__card__presenceRate .spnPercent {
  font-size: 0.7em;
  margin-left: 5px;
}
.presenceCard__card__presenceRate .noData {
  font-size: 0.5em;
}

.detailBtnBar {
  position: absolute;
  bottom: 5px;
  text-align: right;
  right: 20px;
}
.detailBtnBar .btnPresenceData {
  font-size: 16px;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  line-height: 1.25;
  display: block;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
  font-weight: normal;
  color: #5dc0de;
}
.detailBtnBar .btnPresenceData:hover {
  color: #87d0e7;
}

.presenceCard__card__btnCheck {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fff;
  font-weight: normal;
}

.presenceCard__card__btnDetail {
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: #5dc0de;
  text-decoration: underline;
}

/* ----------------------------------------- */
/*     rollcall Table Module for Student     */
/* ----------------------------------------- */
/*---- Customize Popup Card ----*/
.popup__card {
  width: 1000px;
}
.popup__card .popup__card__body {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
@media (max-width: 1199.9px) {
  .popup__card {
    width: 900px;
  }
}
@media (max-width: 991.9px) {
  .popup__card {
    width: 650px;
  }
}
@media (max-width: 767.9px) {
  .popup__card {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* -------------------------------------------------- */
/*     rollcall Table Module for Teacher & Worker     */
/* -------------------------------------------------- */
.tableRollCall__slider {
  width: 100%;
  overflow-x: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.tableRollCall__slider table {
  width: 100%;
  border-collapse: collapse;
}
.tableRollCall__slider table th,
.tableRollCall__slider table td {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
}
.tableRollCall__slider table thead th {
  background-color: #eee;
}
.tableRollCall__slider table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.tableRollCall__slider table tbody th {
  background-color: #fff;
}
.tableRollCall__slider .fas {
  font-size: 24px;
  vertical-align: middle;
}
.tableRollCall__slider .fa-check-circle {
  color: #5dc0de;
}
.tableRollCall__slider .fa-info-circle {
  color: #999;
}
.tableRollCall__slider .fa-check-circle:hover,
.tableRollCall__slider .fa-info-circle:hover {
  transform: scale(1.2);
}
.tableRollCall__slider .fa-times-circle {
  color: #d9534f;
}

/* ------------------------- */
/*     Worker Scope Only     */
/* ------------------------- */
#teacherList {
  text-align: center;
  padding-bottom: 40px;
}
#teacherList #teacherListFuncBar {
  text-align: right;
}
#teacherList #tbTeacherList {
  width: 100%;
  overflow-x: auto;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
#teacherList .tbTeacherList {
  width: 100%;
}
#teacherList .tbTeacherList th, #teacherList .tbTeacherList td {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
}
#teacherList .tbTeacherList thead th {
  background-color: #eee;
}

#lessonList #h3TeacherName {
  text-align: center;
  font-size: 23px;
  margin-bottom: 20px;
}
#lessonList #lessonListHead {
  margin-bottom: 10px;
}
#lessonList #lessonListHead::after {
  content: '';
  clear: both;
  height: 0;
  overflow: hidden;
}
#lessonList #funcBar {
  float: right;
  margin-bottom: 0;
}
#lessonList .returnTeacherList {
  color: #ff98aa;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
#lessonList .returnTeacherList:hover, #lessonList .returnTeacherList:active {
  color: #ff7f95;
}
